#baner{
    width: 100%;
    height: auto;
}

#baner img{
    width: 100%;
    height: auto;
}

#bloki {
  display: flex;            
  flex-wrap: wrap;            
  gap: 20px;                 
  justify-content: center;    
}

#bloki p {
  background: #f0f8ff;       
  border: 2px solid #4a90e2; 
  border-radius: 15px;        
  padding: 45px 20px;         
  max-width: 220px;           
  box-shadow: 2px 4px 8px rgba(0,0,0,0.1); 
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;     
  font-weight: bold;
}

#bloki p:hover {
  background: #e6f0ff;       
  box-shadow: 4px 8px 16px rgba(0,0,0,0.2); 
  transform: translateY(-5px); 
  transition: all 0.3s ease;  
}

#blok2 {
  background: linear-gradient(145deg, #d0e7ff, #f0f9ff);
  border: none; 
  border-radius: 25px 5px 25px 5px; 
  padding: 25px 30px;
  max-width: 1300px;
  margin: 30px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #003366;

  position: relative; 
}


#zdjecie1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1600px;
  margin: 30px auto;
  padding-top: 40px;
}
#zlewo img {
  width: 900px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#zprawo {
  max-width: 900px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #003366;
}


#zdjecie2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1600px;
  margin: 30px auto;
  padding-top: 40px;
}

#zlewo2 {
  max-width: 900px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #003366;
}

#zprawo2 img {
  width: 900px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#lekarze {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1600px;
    margin: 30px auto;
    padding-top: 40px;
}

#lekarze img {
    width: 250px;
    height: auto;
    border-radius: 20%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

#lekarze img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    color: #003366;
    margin-top: 50px;
    font-size: 50px;
    padding-top: 80px;
}

.lekarz {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

.lekarz p {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #003366;
}