input{
    min-width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

#kartoteka{
    padding: 10px;
}


input:focus, textarea:focus{
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
}

#opis{
    height: 400px;
    min-width: 100%;
    resize: none;

    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;

}

button{
    padding: 20px 30px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    transition: 0.5s;

}

#zapisz{ 
    background-color: #4CAF50; 
}

#zapisz:hover{ 
    background-color: #45a049; 
}

#wyczysc{ 
    background-color: #f44336; 
}
#wyczysc:hover{ 
    background-color: #d7372f; 
}

#przyciski{
    text-align: right;
}

#panel{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 10px;
}

#lewoDane{
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

#kartoteka-form{
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}


#peselznajdz{
    width: 100%;
    border-radius: 5px;
    font-size: 19px;
    color: white;
    background-color: #008CBA; 
    margin-bottom: 30px;
    letter-spacing: 1px;
}
