#kontakt{
    width: 100%;
    display: flex;
    height: 720px;
}


#kontakt2{
    width: 50%;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: #333;
    font-family: Arial, sans-serif;
    pointer-events: none;
}
#godziny{
    padding-top: 90px;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    color: #333;
    font-family: Arial, sans-serif;
}