
#panellogowanie{
    background-color: #f0f8ff;
    justify-self: center;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 75%;
    border-radius: 15px;
}

#lewo{
    width: 50%;
}

#lewo img{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#prawo{
    width: 50%;
    justify-content: center;
}

#prawo h2{
    text-align: center;
}

#prawo h4{
    margin-bottom: 4px;
    
}

#prawo input{
    height: 30px;
    width: 90%;
    border-radius: 10px;
    border: solid 1px gray;
}

#formularz{
    justify-content: center;
    text-align: center;
}

#formularz button{
    margin-top: 40px;
    background-color: #3B82F6;
    border: #3B82F6 1px;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    color: white;
}

footer{
    vertical-align: bottom;
    margin-top: 15%;
}