h1{
    text-align: center;
}

#nasza-misja{
    display: flex; 
    background: linear-gradient(90deg,#36697b 0%, #4f9caf 50%, #61adbe 100%);
    font-size: 25px;
    color: white;
}

#nasza-misja h1{
    text-align: left;
    margin: 0;
    color: white;
}

#nm-lewo{
    padding: 50px;
    width: 40%;
}

#nm-prawo{
    padding: 50px;
    width: 60%;
}

#nm-prawo h3{
    margin-bottom: 0;
}

#nm-prawo hr{
    border: 2px white solid;
    width: 30%;
    float: left;
    margin: 0;
}

#elementy{
    display: flex;
    justify-content: center;
    gap: 30px;
}

#uslugi h1{
    padding: 20px;
}

.uslugi-element{
    background-color: #ebf8f6;
    height: 400px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    color: #003366;
}

.uslugi-element h1{
    color: #1d579e;
}