h1{
    text-align: center;
}

#nasza-misja{
    display: flex; 
    background: linear-gradient(90deg,#36697b 0%, #4f9caf 50%, #61adbe 100%);
    font-size: 25px;
    color: white;
}

#nasza-misja h1{
    text-align: left;
    margin: 0;
    color: white;
}

#nm-lewo{
    padding: 50px;
    width: 40%;
}

#nm-prawo{
    padding: 50px;
    width: 60%;
}

#nm-prawo h3{
    margin-bottom: 0;
}

#nm-prawo hr{
    border: 2px white solid;
    width: 30%;
    float: left;
    margin: 0;
}

#uslugi{
    justify-content: center;
}

#elementy{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin-left: 300px;
    gap: 30px;
}

#uslugi h1{
    padding: 20px;
}

.uslugi-element{
    background-color: #ebf8f6;
    height: 400px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    color: #003366;
}

.uslugi-element h2{
    color: #1d579e;
    font-size: 20px;
    font-weight: bold;
}

#statystyki{
    margin-top: 50px;
    height: 200px;
    background-color: #1d5dbc;
    display: flex;
    gap: 30px;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    color: white;
}

#statystyki h2{
    padding-top: 15px;
    font-size: 40px;
    color: white;
}

#statystyki h4{
    font-size: 20px;
}

#dzialanie h1{
    padding-bottom: 15px;
    color: black;
    margin-top: 0;
}

#dzielementy{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.dzelement{
    text-align: center;
    width: 350px;
}

.dzelement h2{
    color: #1c579f;
    font-size: 25px;
    font-weight: bold;
}

.dzelement h3{
    color: #003267;
}