#panellogowanie {
    background-color: #f0f8ff;
    display: flex;
    width: auto;           
    min-width: 450px;      
    max-width: 90%;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 100px auto;    
}

#srodek {
    flex: 1;               
    padding: 40px 60px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lekarz-link {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #4b5563;
}

.lekarz-link a {
    color: #3B82F6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.lekarz-link a:hover {
    color: #1d4ed8;
    text-decoration: underline;
}


.input-row {
    display: flex;
    gap: 15px;
    width: 100%;
    min-width: 400px;
}