
#baner{
    width: 100%;
    height: auto;
}

#baner img{
    width: 100%;
    height: auto;
    display: block;
}

#kpo{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#scianatekstu {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.7;
    color: #003366;
}


#scianatekstu h1, #scianatekstu h2 {
    color: #2a6fb3;
}

#scianatekstu ul {
    margin-left: 20px;
}

#scianatekstu li {
    margin-bottom: 8px;
}

