body{
  margin: 0;
  font-family: Arial, sans-serif;
}



#logo{
  height: 160px;
  text-align: left;
  width: 20%;
}

#gora{
  background-color: #f0f8ff;
  height: 120px;
  display: flex;
}

#zakladki{
  width: 60%;
  display: flex;
  gap: 80px;
  justify-content: center;

}

#zakladki a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-top: 40px;

}




#login{
  width: 20%;
  text-align: right;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}


#login a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-top: 40px;
}

#logo img{
  width: auto;
}



footer{
  background-color: #f0f8ff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

