#logo{
  height: 220px;
  text-align: left;
  width: 20%;
}

#gora{
  background-color: #f0f8ff;
  height: 200px;
  display: flex;
}

#zakladki{
  width: 60%;
  display: flex;
  gap: 40px;
  justify-content: center;

}

#zakladki a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-top: 100px;

}




#login{
  width: 20%;
  text-align: right;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}


#login a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-top: 100px;
}

#logo img{
  width: auto;
}

